@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Medical Point</h1>
        <p class="lead">1996 yılında özel sağlık hizmetleri alanında faaliyete başlayan şirketimizle 27 yıllık tecrübeye sahibiz. Sağlık hizmeti sunumunda insana değer veren, kaliteli, topluma ve çevreye duyarlı, paydaşları ile birlikte fark yaratan değer katan bir grubuz. Sağlık hizmeti sunumunda insani değerler ile şirket misyon ve vizyonunu esas alarak gelişim ve değişimi sağlayan bir yapıda faaliyetlerimizi sürdürmekteyiz. Türkiye'nin kaliteli sağlık hizmeti sunumuna katkı sağlayan grubumuz aynı zamanda daha geniş kitlelere ulusal ve uluslararası düzeyde hizmet üretme çabasındadır. Grup olarak ürettiğimiz sağlık hizmetlerini en tecrübeli insan kaynağı ile gerçekleştirmekteyiz. En önemli gücümüz yetişmiş, kaliteli insan kaynağımızdır. Kaliteli insan kaynağımızı eğitim işbirliği yaptığımız üniversitemizle alanında uzmanlaşmış hekimler, diğer sağlık profesyonelleri ve hastane bünyemizde kurduğumuz akademi aracılığıyla sürdürülebilir kılmaktayız.</p>
        <p><a href="#" class="btn btn-primary btn-lg">More</a></p>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Doctors</h2>
                    <p class="card-text">TEXT.</p>
                    <a href="#" class="btn btn-primary">See Doctors</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Departments</h2>
                    <p class="card-text">TEXT.</p>
                    <a href="#" class="btn btn-primary">See Departments</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Appointment</h2>
                    <p class="card-text">TEXT.</p>
                    <a href="Patient/AddAppointment" class="btn btn-primary">Appointment</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Services</h2>
                    <p class="card-text">TEXT.</p>
                    <a href="#" class="btn btn-primary">Explore Services</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">News</h2>
                    <p class="card-text">TEXT.</p>
                    <a href="#" class="btn btn-primary">Read News</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Events</h2>
                    <p class="card-text">TEXT.</p>
                    <a href="#" class="btn btn-primary">See Events</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Medical Units</h2>
                    <p class="card-text">TEXT.</p>
                    <a href="#" class="btn btn-primary">View Medical Units</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Contact</h2>
                    <p class="card-text">TEXT.</p>
                    <a href="#" class="btn btn-primary">Contact Us</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Hospitals</h2>
                    <p class="card-text">TEXT.</p>
                    <a href="#" class="btn btn-primary">Find Hospitals</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Agreements with Institutions</h2>
                    <p class="card-text">TEXT.</p>
                    <a href="#" class="btn btn-primary">View Agreements</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Health Reports</h2>
                    <p class="card-text">TEXT.</p>
                    <a href="#" class="btn btn-primary">View Reports</a>
                </div>
            </div>
        </div>
    </div>
</div>

