@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
            <div class="jumbotron text-center bg-light border rounded p-4">
                <h1 class="display-4">Monovi</h1>
                <p class="lead">
                    We have 27 years of experience with our company, which started operating in the field of private health services in 1996. We are a group that values people in the provision of health services, is quality, sensitive to society and the environment, and adds value by making a difference together with its stakeholders. We continue our activities in a structure that ensures development and change in the provision of health services, based on human values and the company mission and vision. Our group, which contributes to the provision of quality healthcare services in Turkey, also strives to provide services to wider audiences at national and international levels. As a group, we provide the health services we produce with the most experienced human resources. Our most important strength is our trained, quality human resources. We make our quality human resources sustainable through the university we cooperate with, physicians specialized in their fields, other health professionals and the academy we established within our hospital.
                </p>
            </div>
        <style>

        </style>
    </head>
    <body>
    <div class="background-image-container">
    <div class="container">
         <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100 d-flex flex-column">
                    <img class="card-img-top" src="/images/homeHospitals.jpg" alt="Departments Image">
                    <div class="card-body">
                        <h2 class="card-title text-center">Hospitals</h2>
                        <p class="card-text">Find hospitals near you and access our healthcare services.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Hospitals" asp-action="HospitalList" class="btn btn-primary btn-block">Hospitals</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 d-flex flex-column">
                    <img class="card-img-top" src="/images/homeDoctors.jpg" alt="Doctors Image">
                    <div class="card-body">
                        <h2 class="card-title text-center">Doctors</h2>
                        <p class="card-text">Meet our experienced doctors and schedule your consultation today.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Doctor" asp-action="DoctorList" class="btn btn-primary btn-block">See Doctors</a>
                    </div>
                </div>
            </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100 d-flex flex-column">
                        <img class="card-img-top" src="/images/homeAppointment.jpg" alt="Appointment Image">
                        <div class="card-body">
                            <h2 class="card-title text-center">Appointment</h2>
                            <p class="card-text">Book your appointment online for convenient scheduling.</p>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Patient" asp-action="SearchAppointment" class="btn btn-primary btn-block">Make Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                <div class="card h-100 d-flex flex-column">
                    <img class="card-img-top" src="/images/homeDepartments.jpg" alt="Departments Image">
                    <div class="card-body">
                        <h2 class="card-title text-center">Departments</h2>
                        <p class="card-text">Explore our specialized departments and find the care you need.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-primary btn-block">See Departments</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 d-flex flex-column">
                    <img class="card-img-top" src="/images/homeContactUs.jpg" alt="Contact Us Image">
                    <div class="card-body">
                        <h2 class="card-title text-center">Contact Us</h2>
                        <p class="card-text">Get in touch with us for any inquiries or feedback.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-primary btn-block">Contact Us</a>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    </div>
    </body>
</html>