@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Medical Point</h1>
    <p>
        1996 yılında özel sağlık hizmetleri alanında faaliyete başlayan şirketimizle 27 yıllık tecrübeye sahibiz. Sağlık hizmeti sunumunda insana değer veren, kaliteli, topluma ve çevreye duyarlı, paydaşları ile birlikte fark yaratan değer katan bir grubuz.
        Sağlık hizmeti sunumunda insani değerler ile şirket misyon ve vizyonunu esas alarak gelişim ve değişimi sağlayan bir yapıda faaliyetlerimizi sürdürmekteyiz. Türkiye'nin kaliteli sağlık hizmeti sunumuna katkı sağlayan grubumuz aynı zamanda daha geniş kitlelere ulusal ve uluslararası düzeyde hizmet üretme çabasındadır.Grup olarak ürettiğimiz sağlık hizmetlerini en tecrübeli insan kaynağı ile gerçekleştirmekteyiz. En önemli gücümüz yetişmiş, kaliteli insan kaynağımızdır. Kaliteli insan kaynağımızı eğitim işbirliği yaptığımız üniversitemizle alanında uzmanlaşmış hekimler,  diğer sağlık profesyonelleri ve hastane bünyemizde kurduğumuz akademi aracılığıyla sürdürülebilir kılmaktayız.
    </p>
    <p><a href="" class="btn btn-primary btn-large">More</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Doctors</h2>
            <p> # TEXT #</p>
            <p><a class="btn btn-primary" href=""> # Doctor action # </a></p>
    </div>
    <div class="col-md-4">
        <h2>Departments</h2>
        <p> # TEXT #</p>
        <p><a class="btn btn-primary" href=""> # Department action # </a></p>
    </div>
    <div class="col-md-4">
        <h2>Appointment</h2>
        <p> # TEXT #</p>
        <p><a class="btn btn-primary" href=""> # Appointment action # </a></p>
    </div>
</div>

