@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hospital</h1>
    <p>
        <a class="btn btn-primary" asp-controller="Appointment" asp-action="Apply"> Apply </a>
  
    </p>
</div>
