@{
    ViewData["Title"] = "AddAppointment";
}


@model Entities.Models.Patient


<form asp-action="AddAppointment" method="post">
    <div>
        <label for="HospitalID">Hospital:</label>
        <select asp-items="@ViewBag.HospitalList"></select>
    </div>

    <div>
        <label for="DepartmentID">Department:</label>
        <select asp-items="@ViewBag.DepartmentList"></select>
    </div>

    <div>
        <label for="DoctorID">Doctor:</label>
        <select asp-items="@ViewBag.DoctorList"></select>
    </div>

    <div>
        <button type="submit">Add Appointment</button>
    </div>
</form>