@model List<Appointment>

<h2>List of My Appointments</h2>


<a asp-action="SearchAppointment" asp-controller="Patient" class="btn btn-primary">Search New Appointment</a>
<hr>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#" onclick="showAppointment()">Upcoming Appointments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#" onclick="showPastAppointment()">Past Appointments</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div id="appointmentContent">
            @foreach (var appoint in Model)
            { 
                @if (appoint.AppointmentDate >= DateTime.Now)
                {
                    <div class="card border-info mb-3" style="max-width: 55rem;">
                        <div class="card-header">Header @appoint.AppointmentID</div>
                        <div class="card-body text-info">
                            <h5 class="card-title">@appoint.AppointmentTime</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <form asp-action="DeleteAppointment" asp-controller="Patient" method="post">
                                <input type="hidden" name="id" value="@appoint.AppointmentID">
                                <button class="btn btn-danger" type="submit">Cancel</button>
                            </form>

                        </div>
                    </div>
                }
            }
        </div>
        <div id="pastAppointmentContent" style="display: none;">
            @foreach (var appoint in Model)
            {
                @if (appoint.AppointmentDate < DateTime.Now)
                {
                    <div class="card border-danger mb-3" style="max-width: 55rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body text-danger">
                            <h5 class="card-title">@appoint.AppointmentTime</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<script>
    function showAppointment() {
        document.getElementById('appointmentContent').style.display = 'block';
        document.getElementById('pastAppointmentContent').style.display = 'none';
    }

    function showPastAppointment() {
        document.getElementById('appointmentContent').style.display = 'none';
        document.getElementById('pastAppointmentContent').style.display = 'block';
    }
</script>