@model List<RadiologicalReport>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="path/to/bootstrap.min.css">
    <title>Radiological Reports</title>
    <style>
        body {
            background-color: #f8f9fa;
            padding-top: 20px;
        }

        .container {
            max-width: 1200px;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: auto;
            margin-top: 20px;
        }

        .btn-back {
            margin-bottom: 20px;
            border: none;
            color: #ffffff;
            background-color: #007bff;
            padding: 10px 20px;
            border-radius: 5px;
        }

            .btn-back:hover {
                background-color: #0056b3;
            }
    </style>
</head>

<body>

    <div class="container">
        <h1>Radiological Reports</h1>
        <a class="btn btn-primary btn-back" asp-action="Profile" asp-controller="Patient">Back</a>
        <hr>

        <div class="table-responsive">
            @if (Model != null && Model.Count > 0)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>RadiologicalReportID</th>
                            <th>Description</th>
                            <th>Name</th>
                            <th>Path</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rr in Model)
                        {
                            <tr>
                                <td>@rr.RadiologicalReportID</td>
                                <td>@rr.RrDescription</td>
                                <td>@rr.filename</td>
                                <td>@rr.filepath</td>
                                <td><a class="btn btn-success" href="~/uploads/@rr.filepath" download>Download</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No radiological reports found.</p>
            }
        </div>
    </div>

    <script src="path/to/jquery.slim.min.js"></script>
    <script src="path/to/popper.min.js"></script>
    <script src="path/to/bootstrap.min.js"></script>

</body>

</html>
