@model List<Appointment>
<a asp-action="SearchAppointment" asp-controller="Patient" class="btn btn-primary">Search Appointment</a>
<h2>Upcoming Appointments</h2>
@foreach(var appoint in Model){ // geçici olarak bu şekilde kalabilir bu sayfa iki foreach mantıklı olmayabilirden ötürü
    @if(appoint.AppointmentDate >= DateTime.Now){
        <div class="card border-info mb-3" style="max-width: 55rem;">
        <div class="card-header">Header @appoint.AppointmentID</div>
        <div class="card-body text-info">
            <h5 class="card-title">@appoint.AppointmentTime</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <form asp-action="DeleteAppointment" asp-controller="Patient" method="post">
                <input type="hidden" name="id" value="@appoint.AppointmentID">
                <button class="btn btn-danger" type="submit">Cancel</button>
            </form>
            
        </div>
    </div>
    }
}
<h3>Past Appointments</h3>
@foreach(var appoint in Model){
    @if(appoint.AppointmentDate < DateTime.Now){
        <div class="card border-danger mb-3" style="max-width: 55rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-danger">
            <h5 class="card-title">@appoint.AppointmentTime</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    }
}

