@model List<Report>
<h1>Reports</h1>
<a class="btn btn-primary"asp-action="Profile" asp-controller="Patient">Back</a>
<div class="form-group">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ReportID</th>
            <th>Name</th>
            <th>Path</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var rep in @Model){
            <tr>
                <td>@rep.ReportID</td>
                <td>@rep.filename</td>
                <td>@rep.filepath</td>
                <td>@rep.ReportDescription</td>
                <td><a class="btn btn-success"href="~/uploads/@rep.filepath" download>Download</a></td>
            </tr>
        }
    </tbody>
</table>