@model List<Diagnosis>
<h1>Diagnoses</h1>
<a class="btn btn-primary"asp-action="Profile" asp-controller="Patient">Back</a>
<div class="form-group">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Diagnosis ID</th>
            <th>Diagnosis Description</th>
            <th>Diagnosis Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var diag in Model){
            <tr>
                <td>@diag.DiagnosisID</td>
                <td>@diag.DiagnosisDescription</td>
                <td>@diag.DiagnosisDate</td>
            </tr>
        }
    </tbody>
</table>

